.ant-select *,
.ant-select-item-option-content,
.ant-checkbox-wrapper,
.ant-card-body,
.ant-pagination *,
.ant-picker *,
.ant-picker-panel *,
.ant-form *,
.ant-modal *,
.ant-table table {
    font-family: "NotoSansThai", "NotoSansThai-Bold", "NotoSansThaiMedium"
}



.ant-popover-arrow {
    display: none !important;
}

.notification-display {
    position: relative !important;
    padding: 0px !important;
    overflow-y: auto !important;
}



.select-group .ant-select-item-group {
    min-height: 1px !important;
    padding: 2px !important;
    padding-inline-start: 2px !important;
}

.select-group .ant-select-item-option-grouped {
    padding-inline-start: 12px !important;
}

.green-select .ant-select-selector {
    background: #EAF7ED !important;
    color: #28A745 !important;
}

.ant-input:focus-visible {
    box-shadow: unset !important;
    border: unset !important;
}

/* .ant-select-selector {
    height: 40px !important;
}

.ant-select-single .ant-select-selector .ant-select-selection-item {
    line-height: 40px;
}

.ant-select-selection-search {
    display: flex !important;
    align-items: center !important;
} */