.ant-select *,
.ant-select-item-option-content,
.ant-checkbox-wrapper,
.ant-card-body,
.ant-pagination *,
.ant-picker *,
.ant-picker-panel *,
.ant-form *,
.ant-modal *,
.ant-popover-content *,
.ant-table table {
    font-family: "NotoSansThai", "NotoSansThai-Bold", "NotoSansThaiMedium"
}



.ant-popover-arrow {
    display: none !important;
}

.ant-popover-placement-top {
    padding-bottom: 1px !important;
}

.notification-display {
    position: relative !important;
    padding: 0px !important;
    overflow-y: auto !important;
}



.select-group .ant-select-item-group {
    min-height: 1px !important;
    padding: 2px !important;
    padding-inline-start: 2px !important;
}

.select-group .ant-select-item-option-grouped {
    padding-inline-start: 12px !important;

}

.green-select .ant-select-selector {
    background: #EAF7ED !important;
    color: #28A745 !important;
}