@import "/src/assets/fonts/stylesheet.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  font-size: calc(50% + 0.8vmin);

} */


:root {
  font-family: "NotoSansThai", "NotoSansThaiBold", "NotoSansThaiMedium";
  height: 100vh;
  width: 100vw;
}