.circle-menu-bar-black {
    display: inline-block;
    border-radius: 50%;
    width: 7px;
    height: 7px;
    border: 1px solid #000000;
}

.circle-menu-bar-red {
    display: inline-block;
    border-radius: 50%;
    width: 7px;
    height: 7px;
    background-color: #BC1B1C;
    border: 1px solid #BC1B1C;
}


.circle:hover .circle-menu-bar-black {
    display: inline-block;
    border-radius: 50%;
    width: 7px;
    height: 7px;
    background-color: #BC1B1C;
    border: 1px solid #BC1B1C;
}

@keyframes growAndFadeInFontSize {
    0% {
        font-size: 0;
        opacity: 0;
    }

    100% {
        font-size: 1em;
        opacity: 1;
    }
}

.open_menu {
    animation-name: growAndFadeInFontSize;
    animation-duration: 500ms;
}

.close_menu {
    margin-bottom: 20px;
    display: none;
}